* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-style: normal;
  line-height: 9px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  grid-column-start: 2;
  grid-row-start: 2;
  color:white;
  text-shadow: 1px 1px 1px gray;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  color:white;
  text-shadow: 1px 1px 1px gray;
}

h3 {
  font-size: 0.6em;
  color:white;
  text-shadow: 1px 1px 1px gray;
}

body {
  margin: 0px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1567705781280-0e03ffb323f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80");
  background-position:center -36em;
  width: 100%;
  height: 100%;
}

input,
textarea,
select,
button {
  font-size: 0.8em;
  background-color: transparent;
  border: 0px;
  font-family: sans-serif;
  font-style: normal;
  line-height: 10px;
}

.medium input {
  height: 60%;
  width: 90%;
}


.smallbox {
  font-size: 10px;
}

.blur {
  display: grid;
  grid: repeat(19, 1fr) / 1fr 5fr 1fr;
  width: 18em;
  height: 90%;
  background: linear-gradient(
      0deg,
      rgba(160, 225, 245, 0.4),
      rgba(160, 225, 245, 0.4)
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      #a0e1f5 0%,
      rgba(160, 225, 245, 0.22) 100%
    );
  backdrop-filter: blur(4px);
  border-radius: 3em;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbe5d1;
  border-radius: 6px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.medium {
  width: 100%;
  height: 2em;
}

.large {
  width: 100%;
  height: 4em;
  grid-column-start: 2;
  grid-row-start: 6;
}

textarea {
  resize: none;
}
.small {
  display: flex;
  width: 40px;
  height: auto;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

#one {
  grid-column-start: 2;
  grid-row-start: 4;
}

.checkbox {
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  grid-column-start: 2;
  grid-row-start: 8;
}


#two {
  grid-column-start: 2;
  grid-row-start: 10;
}

#three {
  grid-column-start: 2;
  grid-row-start: 12;
}

#four {
  grid-column-start: 2;
  grid-row-start: 14;
}

#five {
  grid-column-start: 2;
  grid-row-start: 16;
}

#six {
  grid-column-start: 2;
  grid-row-start: 18;
  border: white;
}

#six input {
  font-size: 1em;
  font-weight: bolder;
  
}

#six:hover {
  background-color: #a0e1f5;
  border: 1px solid white;
  transition: 0.3s;
}
